<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/css/stylesheet.css")
    @Scripts.Render("~/js/jquery-3.2.1.min.js")

    @Styles.Render("~/Content/style.css")

    @Styles.Render("~/Content/PagedList.css")

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" />


    @RenderSection("scripts", required: false)

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" />
    @**@<script src="~/sliderengine/jquery.js"></script>
    <script src="~/sliderengine/amazingslider.js"></script>
    <link rel="stylesheet" type="text/css" href="~/sliderengine/amazingslider-1.css">
    <script src="~/sliderengine/initslider-1.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">PERFUME</a>
            </div>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="@Url.Action("Index","Perfume")" class="nav-link">Home</a>
                    </li>

                    <li class="nav-item menu">
                        <a href="#" class="nav-link">Brand <i class="fa fa-angle-down"></i></a>
                        <ul>
                            <li style="color:black">@Html.Action("Brand", "Perfume")</li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="/Perfume/ShoppingCart" class="nav-link">Shopping cart(<span class="badge" id="Cart_Amount">@ViewBag.count</span>)</a>
                    </li>

                    <li class="nav-item">
                        <a href="/Perfume/DeleteCart" class="nav-link">Delete cart</a>
                    </li> 
                    
                    <li class="nav-item">
                        <a href="/Perfume/About" class="nav-link">About</a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>
</body>
</html>
