@model ShopNuocHoa.brand

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>brand</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên nhãn hiệu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Nguồn gốc:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.origin)
        </dd>

        <dt>
           Mô tả:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.describe)
        </dd>

        <dt>
            Logo
        </dt>

        <dd>
            <img src="~/img/brand/@Html.DisplayFor(model => model.logo)" width="150px" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
